[mysqld]
wsrep_provider=/usr/lib64/libgalera_smm.so
wsrep_cluster_name=pxc-cluster
wsrep_cluster_address=gcomm://{{ wsrep_cluster_address }}
wsrep_node_name={{ wsrep_node_name }}
wsrep_node_address={{ wsrep_node_address }}
wsrep_sst_method=xtrabackup-v2
wsrep_sst_auth=sstuser:{{ sstuser_password }}
pxc_strict_mode=ENFORCING
binlog_format=ROW
default_storage_engine=InnoDB
innodb_autoinc_lock_mode=2
