[Unit]
Description=todos node application
After=syslog.target network.target

[Service]
Type=simple
User={{ username }}
Group={{ username }}
WorkingDirectory={{ apps_home }}/todos
ExecStart=/usr/bin/bash -lc 'pushstate-server build'
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target
