concurrent = 1
check_interval = 0

[[runners]]
  name = "{{ runner_name }}"
  url = "{{ runner_url }}"
  token = "{{ runner_token }}"
  executor = "{{ runner_executor }}"
  [runners.ssh]
    user = "{{ runner_ssh_user }}"
    identity_file = "{{ runner_ssh_key }}"
    host = "{{ runner_ssh_host }}"
    port = "22"
  [runners.cache]
