upstream {{ app_name }} {
  server unix:{{ redmine_home }}/tmp/sockets/puma.sock;
}

server {
  server_name {{ redmine_server_name }}.example.com;
  client_max_body_size 20M;

  location / {
    root {{ redmine_home }}/public;
    access_log  /var/log/nginx/{{ app_name }}_access.log;
    error_log   /var/log/nginx/{{ app_name }}_error.log;

    try_files $uri $uri/index.html $uri.html @redmine;
  }

  location @redmine {
    proxy_read_timeout    300;
    proxy_connect_timeout 300;
    proxy_redirect        off;
    proxy_set_header Host      $http_host;
    proxy_set_header X-Real-IP $remote_addr;

    proxy_pass http://{{ app_name }};
  }
}
