[Unit]
Description=Puma HTTP Server
After=network.target

[Service]
Type=simple
User={{ username }}
Group={{ username }}
PIDFile={{ gembox_home }}/tmp/pids/puma.pid
WorkingDirectory={{ gembox_home }}
ExecStart=/bin/bash -lc 'bin/pumactl -F config/puma.rb start'
ExecReload=/bin/kill -s USR1 $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID
KillMode=process
KillSignal=SIGQUIT
TimeoutSec=300
Restart=always

[Install]
WantedBy=multi-user.target
